.login-form-container{
    position: fixed;
    /* top: 10%; */
    height:100%;
    width:100%;
    display: flex;
    align-content: center;
    justify-content: center;
    background:rgba(255, 255, 255, 255);
    z-index: 10000;
}
.form-container {
    display: flex;
    height: 80%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.login-form-container.active{
    top:0;
}

.login-form-container form{
    margin:1rem;
    text-align: center;
    padding:1rem;
    width:30rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    background: #fff;
}

.login-form-container form .buttons{
    display: flex;
    gap:.5rem;
    align-items: center;
}

.login-form-container form .btn{
    display: block;
    width:45%;
    margin:.5rem 0;
}

.login-form-container form .box{
    margin:.7rem 0;
    width: 100%;
    font-size: .9rem;
    color:var(--black);
    text-transform: none;
    border:var(--border);
    padding:.5rem 1.2rem;
    border-radius: .5rem;
}

.login-form-container form p{
    padding:.6rem 0;
    font-size: 1rem;
    color:var(--light-color);
}

.login-form-container form p a{
    color:var(--yellow);
    text-decoration: none;
}

.login-form-container form h3{
    padding-bottom:.5rem;
    font-size: 1.5rem;
    color:var(--black);
    text-transform: uppercase;
}

.login-form-container  div {
    display: flex;
    justify-content: center;
}

.error-container {
    text-align: center;
    padding: 10px;
    font-size: .7rem;
    border-left: 2px red solid;
    border-right: 2px red solid;
    color: red;
}

.login-form-container #close-login-form{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}