.icons-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap:1.5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: #eee;
}

.icons-container .icons{
    background:#fff;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding:1.1rem;
    gap:1.5rem;
}

.icons-container .icons >*:first-child{
    height:2.2rem;
    width:2.2rem;
    line-height:5rem;
    color:var(--black);
    background:rgb(226, 221, 221);
    text-align: center;
    padding: 3px;
    border-radius: 50%;
}

.icons-container .icons .content h3{
    font-size: 1.2rem;
    color:var(--yellow);
}

.icons-container .icons .content p{
    font-size: .9rem;
    color:var(--light-color);
}

.icons-container .icons:hover{
    background:var(--black);
}

.icons-container .icons:hover i{
    background:var(--yellow);
}

.icons-container .icons:hover .content h3{
    color:#fff;
}

.icons-container .icons:hover .content p{
    color:#eee;
}